<div class="social-gallery-feed {{ social_site }}-social-gallery-feed" itemscope itemtype="http://schema.org/ImageGallery">
    {% for site_name, value in data.items %}
        {% for photo in value.photos %}
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ media_url }}{{ photo.photo }}" data-size="{{ photo.photo_width }}x{{ photo.photo_height }}" itemprop="contentUrl">
                <img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ media_url }}{{ photo.photo }}" width="150" height="150" itemprop="thumbnail"/>
            </a>
            <figcaption itemprop="caption description">{{ photo.caption }}</figcaption>
        </figure>
        {% endfor %}
    {% endfor %}
</div>
