.social-gallery-feed {
  width: 100%;
  float: left;
}

.social-gallery-feed img {
  width: 100%;
}

.social-gallery-feed figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.social-gallery-feed figcaption {
  display: none;
}